---

import MainContainer from "@/layouts/MainContainer.astro";


---
<MainContainer>
	
	<div class="container border mx-auto">
		<h1 class="text-center fluid-text-5xl">Las maravillas de Tailwind CSS</h1>
	</div>
		
	

</MainContainer>

