---
import MainContainer from "@/layouts/MainContainer.astro";

---

<MainContainer hasNav={false}>

  <div class="relative h-auto bg-purple-700 mt-[400px] pt-[100px] ">
        <div class="absolute inset-0 flex items-center justify-center text-white">
            <div class=" -mt-[400px] w-[90%] flex">
                <div class="w-full bg-stone-500 ">
                  <div>
                    <p>Presentes en una nueva versión del <span>Festival internacional de cine de Guadalajara</span></p>
                    <button>Conocer más</button>
                  </div>
                </div>
                <div class="w-full bg-stone-200 ">
                  <img src="/pizarro.png" alt="" class="aspect-video">
                </div>
            </div>
        </div>
        <div class="pb-20 mt-20 grid place-items-center font-mona">
          <h1 class="text-white uppercase fluid-text-6xl">Somos <span class="font-monita">Preciosa Media</span></h1>
        <p class="pm-parrafo ">Una compañía del sector audiovisual experta en procesos de CURADURÍA, comprometida con la CIRCULACIÓN de contenidos audiovisuales IBEROAMERICANOS de calidad.</p>
        
        </div>
        
    </div>
    <div class="pb-20 mt-20 grid place-items-center font-mona">
      <h1 class="text-white uppercase fluid-text-6xl">Somos <span class="font-monita">Preciosa Media</span></h1>
    <p class="pm-parrafo ">Una compañía del sector audiovisual experta en procesos de CURADURÍA, comprometida con la CIRCULACIÓN de contenidos audiovisuales IBEROAMERICANOS de calidad.</p>
    
    </div>
    <div class="pb-20 mt-20 grid place-items-center font-jakarta">
      <h1 class="text-white uppercase fluid-text-6xl">Somos <span class="">Preciosa Media</span></h1>
    <p class="pm-parrafo ">Una compañía del sector audiovisual experta en procesos de CURADURÍA, comprometida con la CIRCULACIÓN de contenidos audiovisuales IBEROAMERICANOS de calidad.</p>
    
    </div>
    <div class="pb-20 mt-20 grid place-items-center font-outfit">
      <h1 class="text-white uppercase fluid-text-6xl">Somos <span class="">Preciosa Media</span></h1>
    <p class="pm-parrafo ">Una compañía del sector audiovisual experta en procesos de CURADURÍA, comprometida con la CIRCULACIÓN de contenidos audiovisuales IBEROAMERICANOS de calidad.</p>
    
    </div>

</MainContainer>
<style>
  body {
    @apply bg-stone-300;
  }
  .pm-parrafo{
    @apply max-w-4xl;
  }

</style>