---
import NavBarTailwind from "@/components/NavBarTailwind.astro";
import MainContainer from "@/layouts/MainContainer.astro";
---

<MainContainer>
  <NavBarTailwind />
  
  <h1>TailWind</h1>
</MainContainer>